{% extends 'index.twig' %}

{% block error-content %}
  <div class="container error">
    <div class="alert alert-info row">
      <strong>Info!</strong> You need to generate numbers first
    </div>
  </div>
{% endblock error-content%}
